:root {
  --bg: linear-gradient(135deg, #0f172a, #1e293b);
  --card-bg: rgba(255,255,255,0.1);
  --app-bg: #1e293b;
  --text: white;
  --input-bg: rgba(255,255,255,0.1);
  --error-bg: rgba(255,0,0,0.2);
  --error-text: #ff6b6b;
}

.light {
  --bg: linear-gradient(135deg, #e2e8f0, #f8fafc);
  --app-bg: #ffffff;
  --card-bg: rgba(0,0,0,0.05);
  --text: #0f172a;
  --input-bg: rgba(0,0,0,0.05);
  --error-bg: rgba(255,0,0,0.1);
  --error-text: #b91c1c;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;;
}

.app {
  background: var(--app-bg);
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  margin: auto;
}

.card {
  background: var(--card-bg);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  margin-top: 20px;
  color: var(--text);
  transition: all 0.3s ease;
}

.card img {
  width: 80px;
  margin-bottom: -10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 50px rgba(0,0,0,0.2);
}

h1 {
  font-size: 28px;
  margin-bottom: 18px;
  letter-spacing: 0.5px;
}

.title {
  color: var(--text);
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  background: var(--input-bg);
  color: var(--text);
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #38bdf8, #0ea5e9);
  color: var(--text);
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.loader {
  border: 4px solid rgba(255,255,255,0.2);
  border-top: 4px solid #38bdf8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.error {
  background:  var(--error-bg);
  color:  var(--error-text);
  padding: 10px;
  border-radius: 10px;
}

.history-item {
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  transition: background 0.2s;
  color: var(--text);
}

.history-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.history-list.show {
  max-height: 200px;
}

.history-item.active {
  background: rgba(58, 189,248, 0.3);
  border-radius: 6px;
  font-weight: bold;
}

.history-item:hover {
  background: var(--bg);
}

.history-title {
  color: var(--text);
}

.placeholder {
  color: var(--text);
  font-size: 18px;
  margin-top: 30px;
  opacity: 0.7;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 20px;
}

.details div {
  text-align: center;
}

.details div span {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.temp {
  font-size: 42px;
  margin: 10px 0;
}

.desc {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.city {
  font-size: 28px;
  margin-top: 0;
}

.toggle-theme {
  margin-bottom: 20px;
}

.favorites-item {
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  transition: background 0.2s;
  color: var(--text);  
}

.favorites-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.favorites-list.show {
  max-height: 200px;
}

.favorites-item.active {
  background: rgba(248, 113, 113, 0.3);
  border-radius: 6px;
  font-weight: bold;
}

.favorites-item:hover {
  background: var(--bg);
}

.favorites-title {
  color: var(--text);
}

.history-title, .favorites-title {
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
}

.history-title:hover, .favorites-title:hover {
  opacity: 0.8;
}

body, .app, .card, input {
  transition: all 0.3s ease;
}

@keyframes spin {
  to { 
    transform: rotate(360deg);
  }
}